<div class="dash-header"></div>
<h1 class="center welcome-msg">Welcome to Dashboard</h1>
<button type="button" class="cur-p btn btn-link fr" (click)="logOut()">Logout</button>

<div *ngIf="userInfo" class="dash-div">
    <div class="row">
        <div class="col col-lg-3 col-md-3">
            <div class="avatar">
                <img [src]="userInfo.avatar" alt="User Image" class="user-img">
            </div>
            <input class="text-display col-md-6 trim input-def-h" contenteditable="true"
             title="{{userInfo.fname}} {{userInfo.lname}}" value="{{userInfo.fname}} {{userInfo.lname}}" />
        </div>
        <div class="name-div col-lg-9 col-md-9 row">
          <div class="col-md-6">
            <input class="text-display large-12 fl trim input-def-h" title="{{userInfo.email}}" placeholder="Enter your Email" value="{{userInfo.email}}"/>
            <input type="password" class="text-display large-12 fl input-def-h" placeholder="* * * * * * * *" />
          </div>
          <div class="col-md-6">
            <input class="text-display large-12 fl input-def-h" title="{{userInfo.contact}}" placeholder="Enter contact #" value="{{userInfo.contact}}" />
            <div contenteditable="true" class="text-display large-12 fl trim" title="{{userInfo.address}}" placeholder="About yourself">{{userInfo.address}}</div>
          </div>
        </div>
     </div>
  <div class="row">
    <div class="col-md-8 container">
      <div class="col-md-12 title-heading">
        Recent Activities
      </div>
      <div *ngIf="activityList" class="col-md-12 inner-container activity-div">
        <table  class="table table-hover table-bordered">
          <thead align="center" class="thead-default">
            <tr>
              <th class="text-cap" scope="col">Articles</th>
              <th class="text-cap" scope="col">Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of activityList" class="">
              <td scope="row">
                {{activity.title}}
              </td>
              <td scope="row">
                {{activity.updatedTime | date: 'medium'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4 container">
      <div class="col-md-12 title-heading">
        New Fetures
      </div>
      <div class="col-md-12 inner-container">
      </div>
    </div>
  </div>
</div>
