/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* overriding default element styles */
input {
  padding: 2px 5px;
  border: none;
  min-height: 28px;
}

.modal {
  display: none;
  opacity: 1;
  top: 10%;
  transform: scaleX(1);
  z-index: 1003;
  background-color: #8B4444;
  border-radius: 2px;
  left: 0;
  margin: auto;
  max-height: 70%;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  width: 55%;
  will-change: top, opacity;
}
.modal-content {
  padding: 10px;
  height: 100%;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 transparent;
}
.modal .modal-footer {
  background-color: #fafafa;
  border-radius: 0 0 2px 2px;
  height: 56px;
  padding: 4px 20px;
  text-align: right;
  width: 100%;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  will-change: opacity;
  z-index: 999;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.cur-p {
  cursor: pointer;
}
.cur-d {
  cursor: default;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.input-def-h {
  height: 28px;
}
.text-display {
  min-width: 200px;
  margin: 5px;
  padding: 2px 5px;
  max-height: 50px;
  max-width: 250px;
  overflow: hidden;
}
.text-display:hover, .text-display:active,
input:hover, input:active {
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
  padding: 1px 4px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
[contenteditable=true]:hover{
  content: attr(placeholder);
  display: block; /* For Firefox */

}

.title-heading {
  background: #ccc;
  padding: 3px 8px;
}
.container {
  border: 1px solid grey;
  margin: 0;
  padding: 0;
}
.container:first-child {
  border-top-left-radius: 5px;
}
.container:last-child {
  /* overflow: auto; */
  border-top-right-radius: 5px;
}
.inner-container {
  height: 350px;
  overflow-y: auto;
}

/* sidebar css */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2D4157;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* End of Sidebar css */
